/* TODO: Copy pixel-perfect layouts from ExoPc's landscape mode (also 1024px in
 * width), create portrait mode layout (600px).
 */
MVirtualKeyboardStyle {
    notification-background-color: #2fa7d4;
}

MImAbstractKeyAreaStyle {
    /* Only (latched) shift and caps-lock icons available. */
    key-shift-uppercase-icon-id: "icon-m-input-methods-capslock";
    key-shift-uppercase-icon-id-selected: "icon-m-input-methods-capslock";
    key-shift-icon-id: "icon-m-input-methods-shift";
    key-shift-icon-id-selected: "icon-m-input-methods-shift";
    key-shift-uppercase-icon-id: "icon-m-input-methods-capslock";
    key-shift-uppercase-icon-id-selected: "icon-m-input-methods-capslock";
    key-shift-compact-icon-size: 30 30;

    /* No compact icon variants available yet. */
    key-shift-compact-icon-id: ;
    key-shift-compact-icon-id-selected: ;
    key-shift-uppercase-compact-icon-id: ;
    key-shift-uppercase-compact-icon-id-selected: ;
}

MKeyboardMagnifierStyle {
    magnifier-text-color: $FONT_COLOR_KEYBOARD;
}

#ExtendedKeys {
    background-image: "meegotouch-keyboard-magnifier-background" 24 24 24 24;
}
