meego-keyboard-dbg.substvars
meego-keyboard-dbg
meego-keyboard-tests.substvars
meego-keyboard-tests
meego-keyboard.substvars
meego-keyboard
meego-keyboard-dev
meego-keyboard-dev.substvars
files
tmp
*.debhelper*

