Source: dui-keyboard
Section: libs
Priority: extra
Maintainer: Mohammad Anwari <Mohammad.Anwari@nokia.com> 
Build-Depends: debhelper (>= 5), libqt4-dev (>= 4.6) | libqt4-maemo5-dev (>= 4.6), doxygen, libduiimenginewords-dev (>= 0.1.8), libduiimframework-dev (>= 0.18.6-1), libdui-dev (>= 0.19.3), libduireactionmap-dev (>= 0.11.0), libduicontrolpanel-dev (>= 0.3.7) | no-control-panel
Standards-Version: 3.7.2

Package: dui-keyboard
Architecture: any
Depends:  ${misc:Depends}, ${shlibs:Depends}, libduicontrolpanel
Description: DirectUI Input Method Keyboard 
 DirectUI Keyboard 

Package: dui-keyboard-dbg
Section: devel
Architecture: any
Depends:  dui-keyboard (= ${binary:Version}) 
Description: DirectUI Input Method Keyboard debug files 
 DirectUI Keyboard debug files.

Package: dui-keyboard-dev
Section: devel
Architecture: all
Depends:  dui-keyboard (= ${binary:Version}) 
Description: DirectUI Input Method Keyboard header files 
 DirectUI Keyboard header files.

Package: dui-keyboard-tests
Architecture: any
Depends:  testrunner, libduiimengine-dummydriver, dui-keyboard (= ${binary:Version}), ${misc:Depends}, ${shlibs:Depends}
XB-Maemo-CI-Packages: dui-keyboard 
XB-Maemo-CI-Stage: fast, staging
Description: DirectUI Input Method Keyboard unit test suite 
 DirectUI Keyboard unit test suite.

