Source: meego-keyboard
Section: libs
Priority: extra
Maintainer: Mohammad Anwari <Mohammad.Anwari@nokia.com> 
Build-Depends: debhelper (>= 5), libqt4-dev (>= 4.6), doxygen, libmeegoimenginewords-dev (>= 0.4), libmeegoimframework-dev (>= 0.19.31~1), libmeegotouch-dev (>= 0.20), libmeegoreactionmap-dev (>= 0.14.0-1), libxkbfile-dev (>= 1.0.6)
Standards-Version: 3.7.2

Package: meego-keyboard
Architecture: any
Depends:  ${misc:Depends}, ${shlibs:Depends}, meego-im-uiserver
Description: MeegoTouch Input Method Keyboard 
 Meego Keyboard 

Package: meego-keyboard-dbg
Section: devel
Architecture: any
Depends:  meego-keyboard (= ${binary:Version}) 
Description: MeegoTouch Input Method Keyboard debug files 
 MeegoTouch Keyboard debug files.

Package: meego-keyboard-dev
Section: devel
Architecture: all
Depends:  meego-keyboard (= ${binary:Version}) 
Description: MeegoTouch Input Method Keyboard header files 
 MeegoTouch Keyboard header files.

Package: meego-keyboard-tests
Architecture: any
Depends:  testrunner-lite, libmeegoimengine-dummydriver, meego-keyboard (= ${binary:Version}), ${misc:Depends}, ${shlibs:Depends}
XB-Maemo-CI-Packages: meego-keyboard 
XB-Maemo-CI-Stage: fast, staging
Description: MeegoTouch Input Method Keyboard unit test suite 
 MeegoTouch Keyboard unit test suite.

Package: meego-keyboard-fixtures
Architecture: any
Depends:  meego-keyboard (= ${binary:Version}), ${misc:Depends}, ${shlibs:Depends}
XB-Maemo-CI-Packages: meego-keyboard
XB-Maemo-CI-Stage: fast, staging
Description: MeegoTouch Input Method Keyboard Fixtures used by matti
