#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export LDFLAGS += -Wl,--as-needed
 
%:
	dh $@ --parallel --with sodeps
 
override_dh_auto_configure:
	qmake -makefile CONFIG+=debug CONFIG+=notests CONFIG+=nodoc CONFIG+=disable-maliit-keyboard
 
.PHONY: override_dh_auto_test
