@const HEIGHT_CANDIDATEITEM:  3.4mm;

@const HEIGHT_TOOLBARITEM: 4mm;

MVirtualKeyboardStyle {
    font-opacity: 0.9;

    deadkey-locked-color: #FFA500;

    notification-font: $FONT_KEYBOARD;
    notification-font-size: 56;
    notification-font-opacity: 0.9;
    notification-border-color: #808080;
    notification-background-color: #323232;
    notification-text-color: #FFFFFF;
    notification-opacity: 0.9;
}

MVirtualKeyboardStyle.Portrait {
    tab-button-size: 91 70;
    menu-size: 470 342;
}

MVirtualKeyboardStyle.Landscape {
    keyboard-area-size: 854 236;

    tab-button-size: 108 70;
    menu-size: 790 342;
}

MImAbstractKeyAreaStyle {
    /*** Font Settings ***/
    font: $FONT_KEYBOARD;
    font-color: $FONT_COLOR_KEYBOARD;
    secondary-font: $FONT_SMALL;

    /*** Graphical assets ***/
    background-image: "meegotouch-keyboard-background" 15px 15px 15px 15px;
    key-background: "meegotouch-keyboard-key" 15 15 15 15;
    key-background-disabled: "meegotouch-keyboard-key-disabled" 15 15 15 15;
    key-background-pressed: "meegotouch-keyboard-key-pressed" 15 15 15 15;
    key-background-selected: "meegotouch-keyboard-key-selected" 15 15 15 15;
    key-background-pressed-selected: "meegotouch-keyboard-key-pressed-selected" 15 15 15 15;

    key-background-highlighted: "meegotouch-keyboard-key-highlighted" 15 15 15 15;
    key-background-pressed-highlighted: "meegotouch-keyboard-key-highlighted-pressed" 15 15 15 15;
    key-background-selected-highlighted: "meegotouch-keyboard-key-selected-highlighted" 15 15 15 15;
    key-background-pressed-selected-highlighted: "meegotouch-keyboard-key-pressed-selected-highlighted" 15 15 15 15;

    key-background-special: "meegotouch-keyboard-function-key" 15 15 15 15;
    key-background-special-disabled: "meegotouch-keyboard-function-key-disabled" 15 15 15 15;
    key-background-special-pressed: "meegotouch-keyboard-function-key-pressed" 15 15 15 15;
    key-background-special-selected: "meegotouch-keyboard-function-key-selected" 15 15 15 15;
    key-background-special-pressed-selected: "meegotouch-keyboard-function-key-pressed-selected" 15 15 15 15;

    key-background-special-highlighted: "meegotouch-keyboard-function-key-highlighted" 15 15 15 15;
    key-background-special-pressed-highlighted: "meegotouch-keyboard-function-key-highlighted-pressed" 15 15 15 15;
    key-background-special-selected-highlighted: "meegotouch-keyboard-function-key-selected-highlighted" 15 15 15 15;
    key-background-special-pressed-selected-highlighted: "meegotouch-keyboard-function-key-pressed-selected-highlighted" 15 15 15 15;

    key-background-deadkey: "meegotouch-keyboard-key" 15 15 15 15;
    key-background-deadkey-pressed: "meegotouch-keyboard-key-pressed" 15 15 15 15;
    key-background-deadkey-disabled: "meegotouch-keyboard-key-disabled" 15 15 15 15;
    key-background-deadkey-selected: "meegotouch-keyboard-key-selected" 15 15 15 15;
    key-background-deadkey-pressed-selected: "meegotouch-keyboard-key-pressed-selected" 15 15 15 15;

    key-background-deadkey-highlighted: "meegotouch-keyboard-key-highlighted" 15 15 15 15;
    key-background-deadkey-pressed-highlighted: "meegotouch-keyboard-key-highlighted-pressed" 15 15 15 15;
    key-background-deadkey-selected-highlighted: "meegotouch-keyboard-key-selected-highlighted" 15 15 15 15;
    key-background-deadkey-pressed-selected-highlighted: "meegotouch-keyboard-key-pressed-selected-highlighted" 15 15 15 15;

    key-backspace-icon-id: "icon-m-input-methods-backspace";
    key-backspace-icon-size: 32 32;
    key-backspace-icon-id-rtl: "icon-m-rtl-input-methods-backspace";

    key-menu-icon-size: 48 48;
    key-menu-icon-id: "icon-m-input-methods-menu";
    key-menu-icon-id-rtl: "icon-m-rtl-input-methods-menu";

    key-enter-icon-size: 38 38;
    key-enter-icon-id: "icon-m-input-methods-enter";
    key-enter-icon-id-rtl: "icon-m-rtl-input-methods-enter";

    key-shift-icon-size: 38 38;
    key-shift-icon-id: "icon-m-input-methods-shift";
    key-shift-uppercase-icon-id: "icon-m-input-methods-capslock";

    key-tab-icon-size: 0 0;
    key-tab-icon-id: ; /* non-existant currently */

    /*** Behaviour ***/
    long-press-timeout: 700;
    idle-vkb-timeout: 700;

    flick-gesture-timeout: 500;
    flick-gesture-threshold-ratio: 0.5;

    touchpoint-vertical-offset: 0mm;

    /*** Key Geometry ***/
    use-fixed-key-width: false;
    key-width-small: 0.5;
    key-width-medium: 1.0;
    key-width-large: 1.3;
    key-width-x-large: 1.5;
    key-width-xx-large: 2.0;
    key-width-stretched: -1;

    key-margin-left: 0.2mm;
    key-margin-top: 0.2mm;
    key-margin-right: 0.2mm;
    key-margin-bottom: 0.2mm;

    padding-left: 0.4mm;
    padding-top: 0.4mm;
    padding-right: 0.4mm;
    padding-bottom: 0.4mm;

    /*** Miscelleanous ***/
    sync-style-mode-with-key-count: true;

    /*** Debugging ***/
    draw-button-bounding-rects: false;
    draw-button-rects: false;
    debug-touch-points: false;
    draw-reactive-areas: false;
}

MImAbstractKeyAreaStyle.Landscape {
    /*** Label Setttings ***/
    label-margin-top: 0.6mm;
    label-margin-left-with-secondary: -1; /* not used, labels are centered horizontally */
    secondary-label-separation: 0;

    /*** Behaviour ***/
    touchpoint-horizontal-gravity: 32px;
    touchpoint-vertical-gravity: 20px;

    /*** Key Geometry ***/
    key-height-small: -1; /* unused */
    key-height-medium: 46px;
    key-height-large: 66px;
    key-height-x-large: 82px;
    key-height-xx-large: -1; /* unused */

    key-width-small-fixed: -1; /* unused */
    key-width-medium-fixed: 76px;
    key-width-large-fixed: 93px;
    key-width-x-large-fixed: 178px;
    key-width-xx-large-fixed: 244px;
    key-width-stretched-fixed: -1; /* unused */
    
    key-margin-left: 4px;
    key-margin-top: 0px;
    key-margin-right: 4px;
    key-margin-bottom: 12px;

    padding-left: 11px;
    padding-top: 8px;
    padding-right: 11px;
    padding-bottom: 8px;

    /*** Key Area Geometry ***/
    size: 854 -1;
}

MImAbstractKeyAreaStyle.Portrait {
    /*** Label Setttings ***/
    label-margin-top: 1.2mm;
    label-margin-left-with-secondary: 4.6mm;
    secondary-label-separation: 0.9mm;

    /*** Behaviour ***/
    touchpoint-horizontal-gravity: 17px;
    touchpoint-vertical-gravity: 26px;

    /*** Key Geometry ***/
    key-height-small: -1; /* unused */
    key-height-medium: 62px;
    key-height-large: 82px;
    key-height-x-large: 98px;
    key-height-xx-large: -1; /* unused */

    key-width-small-fixed: -1; /* unused */
    key-width-medium-fixed: 40px;
    key-width-large-fixed: 56px;
    key-width-x-large-fixed: 104px;
    key-width-xx-large-fixed: 136px;
    key-width-stretched-fixed: -1; /* unused */
   
    key-margin-left: 4px;
    key-margin-top: 0px;
    key-margin-right: 4px;
    key-margin-bottom: 18px;

    padding-left: 4px;
    padding-top: 8px;
    padding-right: 4px;
    padding-bottom: 8px;

    /*** Key Area Geometry ***/
    size: 480 -1;
}

MImAbstractKeyAreaStyle.Landscape:keys14 {
    use-fixed-key-width: true;
    key-width-large-fixed: 160px;
}

MImAbstractKeyAreaStyle.Portrait:keys14 {
    use-fixed-key-width: true;

    key-width-medium-fixed: 147px;
    key-width-large-fixed: 302px;
   
    padding-left: 11px;
    padding-right: 12px;
}

MImAbstractKeyAreaStyle.Landscape:keys33 {
    use-fixed-key-width: true;
}

MImAbstractKeyAreaStyle.Portrait:keys33 {
    use-fixed-key-width: true;
}

MImAbstractKeyAreaStyle.Landscape:keys36 {
    use-fixed-key-width: true;
    
    key-width-large-fixed: 118px;
    key-width-x-large-fixed: 160px;
    key-width-xx-large-fixed: 286px;
}

MImAbstractKeyAreaStyle.Portrait:keys36 {
    use-fixed-key-width: true;

    key-width-large-fixed: 88px;
    key-width-x-large-fixed: 112px;
    key-width-xx-large-fixed: 112px;
}

MImAbstractKeyAreaStyle.Landscape:keys37 {
    use-fixed-key-width: true;

    key-width-large-fixed: 118px;
    key-width-x-large-fixed: 160px;
    key-width-xx-large-fixed: 202px;
}

MImAbstractKeyAreaStyle.Portrait:keys37 {
    use-fixed-key-width: true;

    key-width-large-fixed: 64px;
    key-width-x-large-fixed: 112px;
    key-width-xx-large-fixed: 88px;
}

MImAbstractKeyAreaStyle.Landscape:keys38 {
    use-fixed-key-width: true;

    key-width-medium-fixed: 72px;
    key-width-large-fixed: 150px;
    key-width-x-large-fixed: 150px;
    key-width-xx-large-fixed: 384px;
    
    key-margin-left: 3px;
    key-margin-right: 3px;

    padding-left: 1px;
    padding-right: 1px;
}

MImAbstractKeyAreaStyle.Portrait:keys38 {
    use-fixed-key-width: true;

    key-width-medium-fixed: 38px;
    key-width-large-fixed: 82px;
    key-width-x-large-fixed: 126px;
    key-width-xx-large-fixed: 170px;
   
    key-margin-left: 3px;
    key-margin-right: 3px;

    padding-left: 1px;
    padding-right: 1px;
}

MImAbstractKeyAreaStyle.Landscape:keys39 {
    use-fixed-key-width: true;

    key-width-medium-fixed: 72px;
    key-width-large-fixed: 111px;
    key-width-x-large-fixed: 150px;
    key-width-xx-large-fixed: 345px;
    
    key-margin-left: 3px;
    key-margin-right: 3px;

    padding-left: 1px;
    padding-right: 1px;
}

MImAbstractKeyAreaStyle.Portrait:keys39 {
    use-fixed-key-width: true;

    key-width-medium-fixed: 38px;
    key-width-large-fixed: 82px;
    key-width-x-large-fixed: 126px;
    key-width-xx-large-fixed: 126px;
   
    key-margin-left: 3px;
    key-margin-right: 3px;

    padding-left: 1px;
    padding-right: 1px;
}

MImAbstractKeyAreaStyle.Landscape:keys40 {
    use-fixed-key-width: true;

    key-width-medium-fixed: 72px;
    key-width-large-fixed: 111px;
    key-width-x-large-fixed: 150px;
    key-width-xx-large-fixed: 267px;
    
    key-margin-left: 3px;
    key-margin-right: 3px;

    padding-left: 1px;
    padding-right: 1px;
}

MImAbstractKeyAreaStyle.Portrait:keys40 {
    use-fixed-key-width: true;

    key-width-medium-fixed: 38px;
    key-width-large-fixed: 60px;
    key-width-x-large-fixed: 126px;
    key-width-xx-large-fixed: 104px;
   
    key-margin-left: 3px;
    key-margin-right: 3px;

    padding-left: 1px;
    padding-right: 1px;
}

#InvisibleHandle.Portrait {
    preferred-size: 480 2.5mm;
    minimum-size:   480 2.5mm;
    maximum-size:   480 2.5mm;
}

#InvisibleHandle.Landscape {
    preferred-size: 854 2.5mm;
    minimum-size:   480 2.5mm;
    maximum-size:   854 2.5mm;
}

#KeyboardHandle {
    background-image: "meegotouch-keyboard-handle-background";
}

#KeyboardHandle.Landscape {
    preferred-size: 854 0;
    minimum-size: 480 0;
    maximum-size: 854 0;
}

#KeyboardHandle.Portrait {
    preferred-size: 480 0;
    minimum-size: 480 0;
    maximum-size: 480 0;
}


MToolbarLabelStyle {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    minimum-size:   10% $HEIGHT_TOOLBARITEM;
    preferred-size: 20% $HEIGHT_TOOLBARITEM;
    maximum-size:   20% $HEIGHT_TOOLBARITEM;
    color: $COLOR_INVERTED_FOREGROUND;
}

MToolbarButtonStyle {
    background-image: "meegotouch-keyboard-toolbar-button" 15px 15px 15px 15px;
    margin-left: $MARGIN_SMALL;
    margin-right: $MARGIN_SMALL;
    margin-top: 0;
    margin-bottom: 0;
    minimum-size:   20% $HEIGHT_TOOLBARITEM;
    maximum-size:   40% $HEIGHT_TOOLBARITEM;
    /*below reactive margins should be fixed*/
/*  reactive-margin-left: 2;
    reactive-margin-right: 2;
    reactive-margin-top: 5;
    reactive-margin-bottom: 5;*/

    press-feedback: ;
    release-feedback: ;
}

MToolbarButtonStyle:disabled {
    background-image: "meegotouch-keyboard-toolbar-button-disabled"  15px 15px 15px 15px;
}

#MToolbarIconButton {
    minimum-size:   10% $HEIGHT_TOOLBARITEM;
    preferred-size: 10% $HEIGHT_TOOLBARITEM;
    maximum-size:   10% $HEIGHT_TOOLBARITEM;
}

#MToolbarTextButton.Landscape {
    minimum-size:   10% $HEIGHT_TOOLBARITEM;
    preferred-size: 10% $HEIGHT_TOOLBARITEM;
    maximum-size:   10% $HEIGHT_TOOLBARITEM;
}

#MToolbarTextButton.Portrait {
    minimum-size:   10% $HEIGHT_TOOLBARITEM;
    preferred-size: 20% $HEIGHT_TOOLBARITEM;
    maximum-size:   20% $HEIGHT_TOOLBARITEM;
}

#MToolbarIconButtonHighlighted {
    background-image: "meegotouch-keyboard-toolbar-button-highlighted"  15px 15px 15px 15px;
    minimum-size:   10% $HEIGHT_TOOLBARITEM;
    preferred-size: 10% $HEIGHT_TOOLBARITEM;
    maximum-size:   10% $HEIGHT_TOOLBARITEM;
}

#MToolbarIconButtonHighlighted:pressed {
    background-image: "meegotouch-keyboard-toolbar-button-highlighted-pressed"  15px 15px 15px 15px;
}

#MToolbarIconButtonHighlighted:selected {
    background-image: "meegotouch-keyboard-toolbar-button-selected"  15px 15px 15px 15px;
}

#MToolbarIconButtonHighlighted:disabled {
    background-image: "meegotouch-keyboard-toolbar-button-disabled"  15px 15px 15px 15px;
}

#MToolbarTextButtonHighlighted {
    background-image: "meegotouch-keyboard-toolbar-button-highlighted"  15px 15px 15px 15px;
}

#MToolbarTextButtonHighlighted:pressed {
    background-image: "meegotouch-keyboard-toolbar-button-highlighted-pressed"  15px 15px 15px 15px;
}

#MToolbarTextButtonHighlighted:selected {
    background-image: "meegotouch-keyboard-toolbar-button-selected"  15px 15px 15px 15px;
}

#MToolbarTextButtonHighlighted:disabled {
    background-image: "meegotouch-keyboard-toolbar-button-disabled"  15px 15px 15px 15px;
}

#MToolbarTextButtonHighlighted.Landscape {
    minimum-size:   10% $HEIGHT_TOOLBARITEM;
    preferred-size: 10% $HEIGHT_TOOLBARITEM;
    maximum-size:   10% $HEIGHT_TOOLBARITEM;
}

#MToolbarTextButtonHighlighted.Portrait {
    minimum-size:   10% $HEIGHT_TOOLBARITEM;
    preferred-size: 20% $HEIGHT_TOOLBARITEM;
    maximum-size:   20% $HEIGHT_TOOLBARITEM;
}

MToolbarButtonStyle:pressed {
    background-image: "meegotouch-keyboard-toolbar-button-pressed" 15px 15px 15px 15px;
}

MToolbarButtonStyle:selected {
    background-image: "meegotouch-keyboard-toolbar-button-selected" 15px 15px 15px 15px;
}

WidgetBarStyle {
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;

    padding-top: 9;
    padding-bottom: 10;
    padding-left: 11;
    padding-right: 11;
}

MImWordTrackerStyle {
    background-image: "meegotouch-wordtracker-background" 15px 15px 15px 15px;

    wordtracker-pointer-image: "meegotouch-wordtracker-pointer" 0 0 0 0;
    wordtracker-pointer-size: 15 12;
    wordtracker-pointer-overlap: 1;
    wordtracker-pointer-top-margin: $MARGIN_DOUBLE;
    wordtracker-pointer-left-margin: $MARGIN_DOUBLE;
    wordtracker-pointer-right-margin: $MARGIN_DOUBLE;

    show-hide-frames: 100;
    show-hide-time: 400;
    show-hide-interval: 30;

    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;

    wordtracker-left-margin: $MARGIN_XLARGE;
    wordtracker-right-margin: $MARGIN_XLARGE;

    padding-top:  0;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
   
    minimum-size: 7.5mm $HEIGHT_CANDIDATEITEM;
    maximum-size: 18.6mm 100%;
}

MImWordList MContentItemStyle {
    title-object-name: "MImWordListLabel";
    background-image : ;
    background-color : ;
}

MImWordList MContentItemStyle:pressed {
    background-image: meegotouch-wordtracker-item-pressed 15px 15px 15px 15px;
}

MImWordList MContentItemStyle:selected {
    title-object-name: "MImWordListLabelSelected";
    background-image : ;
    background-color : ;
}

MImWordListItem MLabelStyle#MImWordListLabel {
    font: $FONT_LARGE_BOLD;
    color: $COLOR_INVERTED_FOREGROUND;
    margin-top:    $INDENT_DEFAULT;
    margin-bottom: 0;
    margin-left:   $INDENT_DEFAULT;
    margin-right:  $INDENT_DEFAULT;
}

MImWordListItem MLabelStyle#MImWordListLabelSelected {
    font: $FONT_LARGE_BOLD;
    color: #0000ff;
    margin-top:    $INDENT_DEFAULT;
    margin-bottom: 0;
    margin-left:   $INDENT_DEFAULT;
    margin-right:  $INDENT_DEFAULT;
}

MImCorrectionCandidateItemStyle {
    preferred-size: -1 $HEIGHT_CANDIDATEITEM;
    minimum-size: 4.8mm $HEIGHT_CANDIDATEITEM;
    maximum-size: 100% $HEIGHT_CANDIDATEITEM;

    background-opacity: 1.0;

    font: $FONT_DEFAULT; 
    font-color: $COLOR_INVERTED_FOREGROUND;
    press-timeout: 250;
    release-miss-delta: 30;
    long-tap-timeout: 600;

    margin-top: 1.1mm;
    margin-bottom: 1.1mm;
    margin-left: $MARGIN_DOUBLE;
    margin-right: $MARGIN_DOUBLE;

    padding-top:  0;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
}

MImCorrectionCandidateItemStyle:selected {
    background-image: meegotouch-wordtracker-selection 15px 15px 15px 15px;
}

MImCorrectionCandidateItemStyle:pressed {
    background-image: meegotouch-wordtracker-item-pressed 15px 15px 15px 15px;
}


MImToolbarStyle {
    background-image: "meegotouch-keyboard-toolbar-background" 15px 15px 15px 15px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

MImToolbarStyle.Landscape {
    preferred-size: 100% -1;
    minimum-size: 100% -1;
    maximum-size: 100% -1;
}

MImToolbarStyle.Portrait {
    preferred-size: 100% -1;
    minimum-size: 100% -1;
    maximum-size: 100% -1;
}

