MVirtualKeyboardStyle {
    background-image: "meegotouch-keyboard-background" 10px 10px 10px 10px;
    font: "Nokia Sans Light" 28;
    font-opacity: 0.9;
    font-color: #000000;

    secondary-font: $FONT_SMALL;

    padding-top: $PADDING_LARGE;
    padding-bottom: $PADDING_LARGE;

    spacing-vertical: $MARGIN_DOUBLE;
    spacing-horizontal: 0.3mm;

    deadkey-locked-color: #FFA500;

    notification-font: "Nokia Sans Light" 24;
    notification-border-color: #808080;
    notification-background-color: #323232;
    notification-text-color: #FFFFFF;
    notification-opacity: 0.9;

    toolbar-background-image: "meegotouch-keyboard-toolbar-background" 10px 10px 10px 10px;

    releaseFeedback: ;
    pressFeedback: ;

    /* Single widget keyboard button styling */
    key-backspace-icon-id: "icon-m-input-methods-backspace";
    key-backspace-icon-size: 48 48;

    key-menu-icon-size: 48 48;
    key-menu-icon-id: "icon-m-input-methods-menu";

    key-enter-icon-size: 48 48;
    key-enter-icon-id: "icon-m-input-methods-enter";

    key-shift-icon-size: 48 48;
    key-shift-icon-id: "icon-m-input-methods-shift";
    key-shift-uppercase-icon-id: "icon-m-input-methods-capslock";
    /* End of single widget keyboard button styling */
}

MVirtualKeyboardStyle.Portrait {
    keyboard-area-size: 480 280;
    
    label-margin-top: 2.4mm;
    label-margin-left-with-secondary: 4.6mm;
    secondary-label-separation: 0.9mm;

    padding-left: $PADDING_MEDIUM;
    padding-right: 0.7mm;

    tab-button-size: 91 70;
    menu-size: 470 342;

    /* Single widget keyboard button styling */
    key-background: "meegotouch-keyboard-key-portrait" 10 10 10 10;
    key-background-pressed: "meegotouch-keyboard-key-pressed-portrait" 10 10 10 10;
    key-background-selected: "meegotouch-keyboard-key-selected-portrait" 10 10 10 10;

    key-normal-size: 4.4mm 8mm;

    key-phone-number-normal-size: 15.3mm 8mm;
    key-function-normal-size: 8mm 8mm;
    key-function-large-size: 8mm 8mm;
    key-number-backspace-size: 15.3mm 8mm;
    key-sym-normal-size: 7.5mm 8mm;
    /* End of single widget keyboard button styling */

    key-background-sym-indicator-sym: "meegotouch-keyboard-key-sym-selected-portrait";
    key-background-sym-indicator-ace: "meegotouch-keyboard-key-ace-selected-portrait";
    key-background-sym-indicator-sym-pressed: "meegotouch-keyboard-key-sym-pressed-portrait";
    key-background-sym-indicator-ace-pressed: "meegotouch-keyboard-key-ace-pressed-portrait";
}

MVirtualKeyboardStyle.Landscape {
    keyboard-area-size: 864 280;
    
    label-margin-top: 1.2mm;
    label-margin-left-with-secondary: -1; /* not used, labels are centered horizontally */
    secondary-label-separation: 0;

    padding-left: $PADDING_LARGE;
    padding-right: 0.9mm;

    tab-button-size: 108 70;

    menu-size: 790 342;

    /* Single widget keyboard button styling */
    key-background: "meegotouch-keyboard-key-landscape" 10 10 10 10;
    key-background-pressed: "meegotouch-keyboard-key-pressed-landscape" 10 10 10 10;
    key-background-selected: "meegotouch-keyboard-key-selected-landscape" 10 10 10 10;

    key-normal-size: 8.2mm 5.6mm;

    key-phone-number-normal-size: 8.2mm 8.4mm;
    key-function-normal-size: 8.2mm 5.6mm;
    key-function-large-size: 12.4mm 5.6mm;
    key-number-backspace-size: 12.4mm 5.6mm;
    key-sym-normal-size: 8.2mm 5.6mm;
    /* End of single widget keyboard button styling */

    key-background-sym-indicator-sym: "meegotouch-keyboard-key-sym-selected-landscape";
    key-background-sym-indicator-ace: "meegotouch-keyboard-key-ace-selected-landscape";
    key-background-sym-indicator-sym-pressed: "meegotouch-keyboard-key-sym-pressed-landscape";
    key-background-sym-indicator-ace-pressed: "meegotouch-keyboard-key-ace-pressed-landscape";
}

#InvisibleHandle.Portrait {
    preferred-size: 480 2.5mm;
    minimum-size:   480 2.5mm;
    maximum-size:   480 2.5mm;
}

#InvisibleHandle.Landscape {
    preferred-size: 864 2.5mm;
    minimum-size:   480 2.5mm;
    maximum-size:   864 2.5mm;
}

#KeyboardToolbarHandle {
    background-image: "meegotouch-keyboard-handle-background";
}

#KeyboardToolbarHandle.Portrait {
    preferred-size: 480 0.6mm;
    minimum-size: 480 0.6mm;
    maximum-size: 480 0.6mm;
}

#KeyboardToolbarHandle.Landscape {
    preferred-size: 864 0.6mm;
    minimum-size: 480 0.6mm;
    maximum-size: 864 0.6mm;
}

#KeyboardHandle {
    background-image: "meegotouch-keyboard-handle-background";
}

#KeyboardHandle.Landscape {
    preferred-size: 864 0.6mm;
    minimum-size: 480 0.6mm;
    maximum-size: 864 0.6mm;
}

#KeyboardHandle.Portrait {
    preferred-size: 480 0.6mm;
    minimum-size: 480 0.6mm;
    maximum-size: 480 0.6mm;
}

#MenuToggleButton {
    background-image: "Toggle-btn-normal" 0 0 0 0;
    background-opacity: 1.0;
    background-color: #000000;
    text-color: #FFFFFF;
}


#MenuToggleButton:pressed {
    background-image: "Toggle-btn-selected" 0 0 0 0;
    background-opacity: 1.0;
    background-color: #F9A427;
    text-color: #555555;    
}


#MenuLanguageList {
    background-image: "Single-line-input-field" 0 0 0 0;
    text-left-offset: 12;
    text-right-offset: 12;

    font: "Nokia Sans" 20;
    text-color: #000000;

    preferred-size: 414 56;
    minimum-size: 414 56;
    maximum-size: 414 56;
}

MToolbarButtonStyle {
    background-image: "meegotouch-keyboard-toolbar-button" 10px 10px 10px 10px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    preferred-size: 100 48;
    maximum-size: 100 48;
    reactive-margin-left: 2;
    reactive-margin-right: 2;
    reactive-margin-top: 5;
    reactive-margin-bottom: 5;
}

MToolbarButtonStyle:pressed {
    background-image: "meegotouch-keyboard-toolbar-button-pressed" 10px 10px 10px 10px;
}

MToolbarButtonStyle:selected {
    background-image: "meegotouch-keyboard-toolbar-button-selected" 10px 10px 10px 10px;
}

WidgetBarStyle {
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;

    padding-top: 3;
    padding-left: 3;
    padding-right: 3;
}

#CorrectionCandidateList {
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
}

#CorrectionCandidateItem {
    preferred-size: -1 6.4mm;
    minimum-size: 10mm 6.4mm;
    maximum-size: 100% 6.4mm;

    title-object-name: "CorrectionCandidateItemTitle";
}
#CorrectionCandidateItemTitle {
    margin-left:   2.4mm;
    margin-right:  2.4mm;
}
