@const HEIGHT_CANDIDATEITEM:  6.4mm;
@const HEIGHT_TOOLBARITEM: 4mm;

MVirtualKeyboardStyle {
    font-opacity: 0.9;
    font-color: #00FF00;
    text-color: #0000FF;

    deadkey-locked-color: #FFA500;

    notification-font: "Nokia Sans Light" 56;
    notification-font-opacity: 0.9;
    notification-border-color: #808080;
    notification-background-color: #323232;
    notification-text-color: #FFFFFF;
    notification-opacity: 0.9;
}

MVirtualKeyboardStyle.Portrait {
    keyboard-area-size: 480 280;

    tab-button-size: 91 70;
    menu-size: 470 342;
}

MVirtualKeyboardStyle.Landscape {
    keyboard-area-size: 864 280;

    tab-button-size: 108 70;
    menu-size: 790 342;
}

MImAbstractKeyAreaStyle {
    background-image: "meegotouch-keyboard-background" 15px 15px 15px 15px;

    font: "Nokia Sans Light" 28;
    font-color: #000000;
    secondary-font: $FONT_SMALL;

    spacing-vertical: 2mm;
    /* should be 0.4mm or 4px, need to check*/
    spacing-horizontal: 0.2mm;

    padding-top: 2.2mm;
    padding-bottom: $MARGIN_DOUBLE;

    long-press-timeout: 700;
    idle-vkb-timeout: 700;
    flick-gesture-timeout: 500;

    flick-gesture-threshold-ratio: 0.5;

    /* Single widget keyboard button styling */
    /* TODO: give correct size */
    key-width-small: 0.5;
    key-width-small-fixed: 48;
    key-width-medium: 1.0;
    key-width-medium-fixed: 48;
    key-width-large: 1.3;
    key-width-large-fixed: 48;
    key-width-x-large: 1.5;
    key-width-x-large-fixed: 48;
    key-width-xx-large: 2.0;
    key-width-xx-large-fixed: 48;
    key-width-stretched: -1;
    key-width-stretched-fixed: 48;

    row-height-small: 0.5;
    row-height-medium: 1.0;
    row-height-large: 1.3;
    row-height-x-large: 1.5;
    row-height-xx-large: 2.0;

    key-background: "meegotouch-keyboard-key" 15 15 15 15;
    key-background-pressed: "meegotouch-keyboard-key-pressed" 15 15 15 15;
    key-background-selected: "meegotouch-keyboard-key-selected" 15 15 15 15;
    key-background-pressed-selected: "meegotouch-keyboard-key-pressed-selected" 15 15 15 15;

    key-background-special: "meegotouch-keyboard-function-key" 15 15 15 15;
    key-background-special-pressed: "meegotouch-keyboard-function-key-pressed" 15 15 15 15;
    key-background-special-selected: "meegotouch-keyboard-function-key-selected" 15 15 15 15;
    key-background-special-pressed-selected: "meegotouch-keyboard-function-key-pressed-selected" 15 15 15 15;

    key-background-deadkey: "meegotouch-keyboard-key" 15 15 15 15;
    key-background-deadkey-pressed: "meegotouch-keyboard-pressed" 15 15 15 15;
    key-background-deadkey-selected: "meegotouch-keyboard-key-selected" 15 15 15 15;
    key-background-deadkey-pressed-selected: "meegotouch-keyboard-key-pressed-selected" 15 15 15 15;

    key-backspace-icon-id: "icon-m-input-methods-backspace";
    key-backspace-icon-size: 32 32;
    key-backspace-icon-id-rtl: "icon-m-rtl-input-methods-backspace";

    key-menu-icon-size: 48 48;
    key-menu-icon-id: "icon-m-input-methods-menu";
    key-menu-icon-id-rtl: "icon-m-rtl-input-methods-menu";

    key-enter-icon-size: 38 38;
    key-enter-icon-id: "icon-m-input-methods-enter";
    key-enter-icon-id-rtl: "icon-m-rtl-input-methods-enter";

    key-shift-icon-size: 38 38;
    key-shift-icon-id: "icon-m-input-methods-shift";
    key-shift-uppercase-icon-id: "icon-m-input-methods-capslock";
    /* End of single widget keyboard button styling */

    /* touch behaviour */
    button-bounding-rect-top-adjustment: -6;
    button-bounding-rect-bottom-adjustment: 6;

    /* debugging-related attributes */
    draw-button-bounding-rects: false;
    draw-button-rects: false;
    debug-touch-points: false;
    draw-reactive-areas: false;
}

MImAbstractKeyAreaStyle.Portrait {
    spacing-horizontal: 0.4mm;
    label-margin-top: 1.2mm;
    label-margin-left-with-secondary: 4.6mm;
    secondary-label-separation: 0.9mm;

    padding-left: $MARGIN_DOUBLE;
    padding-right:$MARGIN_DOUBLE;

    touchpoint-horizontal-gravity: 6.2mm;
    touchpoint-vertical-gravity: 9.6mm;

    key-height: 6.4mm;
}

MImAbstractKeyAreaStyle.Landscape {
    padding-top: 1.3mm;
    spacing-vertical: $MARGIN_DOUBLE;

    label-margin-top: 0.6mm;
    label-margin-left-with-secondary: -1; /* not used, labels are centered horizontally */
    secondary-label-separation: 0;

    padding-left: $MARGIN_DOUBLE;
    padding-right: $MARGIN_DOUBLE;

    touchpoint-horizontal-gravity: 8.2mm;
    touchpoint-vertical-gravity: 7.2mm;

    key-height: 4.8mm;
}

#InvisibleHandle.Portrait {
    preferred-size: 480 2.5mm;
    minimum-size:   480 2.5mm;
    maximum-size:   480 2.5mm;
}

#InvisibleHandle.Landscape {
    preferred-size: 864 2.5mm;
    minimum-size:   480 2.5mm;
    maximum-size:   864 2.5mm;
}

#KeyboardToolbarHandle {
    background-image: "meegotouch-keyboard-border-top";
}

#KeyboardToolbarHandle.Portrait {
    preferred-size: 480 0.6mm;
    minimum-size: 480 0.6mm;
    maximum-size: 480 0.6mm;
}

#KeyboardToolbarHandle.Landscape {
    preferred-size: 864 0.6mm;
    minimum-size: 480 0.6mm;
    maximum-size: 864 0.6mm;
}

#KeyboardHandle {
    background-image: "meegotouch-keyboard-handle-background";
}

#KeyboardHandle.Landscape {
    preferred-size: 864 0;
    minimum-size: 480 0;
    maximum-size: 864 0;
}

#KeyboardHandle.Portrait {
    preferred-size: 480 0;
    minimum-size: 480 0;
    maximum-size: 480 0;
}

#MenuToggleButton {
    background-image: "Toggle-btn-normal" 0 0 0 0;
    background-opacity: 1.0;
    background-color: #000000;
    text-color: #FFFFFF;
}


#MenuToggleButton:pressed {
    background-image: "Toggle-btn-selected" 0 0 0 0;
    background-opacity: 1.0;
    background-color: #F9A427;
    text-color: #555555;    
}


#MenuLanguageList {
    background-image: "Single-line-input-field" 0 0 0 0;
    text-left-offset: 12;
    text-right-offset: 12;

    font: "Nokia Sans" 20;
    text-color: #000000;

    preferred-size: 414 56;
    minimum-size: 414 56;
    maximum-size: 414 56;
}

MToolbarLabelStyle {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    minimum-size:   10% $HEIGHT_TOOLBARITEM;
    preferred-size: 20% $HEIGHT_TOOLBARITEM;
    maximum-size:   20% $HEIGHT_TOOLBARITEM;
    color: $COLOR_INVERTED_FOREGROUND;
}

MToolbarButtonStyle {
    background-image: "meegotouch-keyboard-toolbar-button" 15px 15px 15px 15px;
    margin-left: $MARGIN_SMALL;
    margin-right: $MARGIN_SMALL;
    margin-top: 0;
    margin-bottom: 0;
    minimum-size:   20% $HEIGHT_TOOLBARITEM;
    preferred-size: 20% $HEIGHT_TOOLBARITEM;
    maximum-size:   30% $HEIGHT_TOOLBARITEM;
    /*below reactive margins should be fixed*/
/*  reactive-margin-left: 2;
    reactive-margin-right: 2;
    reactive-margin-top: 5;
    reactive-margin-bottom: 5;*/

    press-feedback: ;
    release-feedback: ;
}

#MToolbarIconButton {
    minimum-size:   10% $HEIGHT_TOOLBARITEM;
    preferred-size: 10% $HEIGHT_TOOLBARITEM;
    maximum-size:   10% $HEIGHT_TOOLBARITEM;
}

#MToolbarTextButton {
    minimum-size:   10% $HEIGHT_TOOLBARITEM;
    preferred-size: 10% $HEIGHT_TOOLBARITEM;
    maximum-size:   20% $HEIGHT_TOOLBARITEM;
}

MToolbarButtonStyle:pressed {
    background-image: "meegotouch-keyboard-toolbar-button-pressed" 15px 15px 15px 15px;
}

MToolbarButtonStyle:selected {
    background-image: "meegotouch-keyboard-toolbar-button-selected" 15px 15px 15px 15px;
}

WidgetBarStyle {
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;

    padding-top: 9;
    padding-bottom: 10;
    padding-left: 11;
    padding-right: 11;
}

MImCorrectionCandidateContainerStyle {
    background-image: "meegotouch-candidatelist-background" 15 15 15 15;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;

    minimum-size: 15mm $HEIGHT_CANDIDATEITEM;
    maximum-size: 100% 100%;
}

MImCorrectionCandidateItemStyle {
    preferred-size: -1 $HEIGHT_CANDIDATEITEM;
    minimum-size: 10mm $HEIGHT_CANDIDATEITEM;
    maximum-size: 100% $HEIGHT_CANDIDATEITEM;

    title-object-name: "CorrectionCandidateItemTitle";
}

#CorrectionCandidateItemTitle {
    margin-left: $MARGIN_XLARGE;
    margin-right: $MARGIN_XLARGE;
}

MImToolbarStyle {
    background-image: "meegotouch-keyboard-toolbar-background" 15px 15px 15px 15px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

MImToolbarStyle.Landscape {
    preferred-size: 100% -1;
    minimum-size: 100% -1;
    maximum-size: 100% -1;
}

MImToolbarStyle.Portrait {
    preferred-size: 100% -1;
    minimum-size: 100% -1;
    maximum-size: 100% -1;
}

