@const MARGIN_DOUBLE:    1.2mm;
@const PADDING_MEDIUM:   0.6mm;
@const PADDING_LARGE:    1.2mm;

MVirtualKeyboardStyle {
    background-image: "keyboard-background" 10px 10px 10px 10px;
    font: "Nokia Sans Light" 24;
    font-opacity: 0.9;
    font-color: #FFFFFF;

    padding-top: $PADDING_LARGE;
    padding-bottom: $PADDING_LARGE;

    spacing-vertical: $MARGIN_DOUBLE;
    spacing-horizontal: 0.3mm;

    candidate-background: "textinput-candidates-background";
    candidate-highlight-opacity: 1.0;
    candidate-highlight-color: #BA55D3;

    deadkey-locked-color: #FFA500;

    notification-font: "Nokia Sans Light" 24;
    notification-border-color: #808080;
    notification-background-color: #323232;
    notification-text-color: #FFFFFF;
    notification-opacity: 0.9;

    magnifier-focuspoint: "keyboard-magnifier-focuspoint";
    magnifier-image: "keyboard-magnifier-background" 2px 2px 2px 2px;
    magnifier-size: 95 140;
    magnifier-arrow-height: 2.1mm;
    magnifier-button-overlap: 1mm;
    magnifier-font: "Nokia Sans" 6.5mm;
    magnifier-text-color: #FFFFFF;
    magnifier-text-margin-top: 2.5mm;
    magnifier-text-margin-bottom: 3.5mm;

    releaseFeedback: ;
    pressFeedback: ;

    key-background-id: "keyboard-key-background";
    key-background-pressed-id: "keyboard-key-background-pressed";
    key-background-selected-id: "keyboard-key-background-selected";

    key-backspace-icon-size: 48 26;
    key-backspace-icon-id: "icon-m-keyboard-backspace";

    key-menu-icon-size: 64 33;
    key-menu-icon-id: "icon-m-keyboard-menu";

    key-enter-icon-size: 38 28;
    key-enter-icon-id: "icon-m-keyboard-enter";

    key-shift-icon-size: 38 38;
    key-shift-icon-id: "icon-m-shift-lowercase";
}

MVirtualKeyboardStyle.Portrait {
    keyboard-area-size: 480 280;

    padding-left: $PADDING_MEDIUM;
    padding-right: 0.7mm;

    tab-button-size: 91 70;
    menu-size: 470 342;

    key-normal-size: 4.4mm 8mm;
    key-phone-number-normal-size: 15.3mm 8mm;
    key-function-normal-size: 8mm 8mm;
    key-function-large-size: 8mm 8mm;
    key-number-backspace-size: 15.3mm 8mm;
    key-sym-normal-size: 7.5mm 8mm;
}

MVirtualKeyboardStyle.Landscape {
    keyboard-area-size: 864 280;

    padding-left: $PADDING_LARGE;
    padding-right: 0.9mm;

    tab-button-size: 108 70;

    menu-size: 790 342;

    key-normal-size: 8.2mm 5.6mm;
    key-phone-number-normal-size: 8.2mm 8.4mm;
    key-function-normal-size: 8.2mm 5.6mm;
    key-function-large-size: 12.4mm 5.6mm;
    key-number-backspace-size: 12.4mm 5.6mm;
    key-sym-normal-size: 8.2mm 5.6mm;
}
